

.loginCard label{
  font-size: 12px;
  margin-top: 0px;
}

.loginCard input{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #F7F4F3;
  border: none;
  padding: 5px;
}

.loginCard .submitLogin{
  cursor:pointer;
}