.formCard{
    display: flex;
    flex-direction: row;
}

.formCard label{
    font-size: 12px;
    margin-top: 0px;
  }
  
  .formCard .siteblock input{
    color: black;
    height: 30px;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #F7F4F3;
    border: none;
  }

  .formCard .dateblock input{
    color: black;
    width: 150px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #F7F4F3;
    border: none;
  }
  
  #formSubmit{
  margin-top: 10px;
  margin-bottom: 20px;
  cursor:pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #E7A42B;
  font-weight: 700;
  border: none;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  }

  #formSubmit:hover{
    background: #F7F4F3;
    font-size: 15px;
  }

  .siteblock{
      width: 500px;
  }

  .dateblock {
    width: 200px;
  }