.slider{
    position: relative;
    height :210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
    align-items: center;
}
.slider img{
    border-radius: 10px;
}

.right-arrow{
    position: absolute;
    top:50%;
    right: 10px;
    font-size:  2rem;
    color: #fff;
    z-index: 4;
    cursor: pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top:50%;
    left: 10px;
    font-size:  2rem;
    color: #fff;
    z-index: 4;
    cursor: pointer;
    user-select: none;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}