.container{
  color: #F7F4F3;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(17,17,17);
  width: 100%;
  margin: 15px auto;
  border-radius: 10px;

  display: grid;
  grid-gap: 20px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:  "title title title"
                        "slider_card login-signup_card faq_card"
                        "form_card form_card faq_card";
                        
}

.container .slider_card,
.container .faq_card,
.container .form_card,
.container .login-signup_card{
  background-color: #2F2F2F;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.container .title{
  color: #F7F4F3;
  grid-area: title;
}

.container .slider_card{
  display: flex;
  grid-area: slider_card;
  align-items: center;
  justify-content: center;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* .continer .slider_card img{
  
} */

.container .login-signup_card{
  grid-area: login-signup_card;
  padding-top: 0px;
}

.container .form_card{
  grid-area: form_card;
}

.container .faq_card{
  grid-area: faq_card;
}



